*.opensdf
*.sdf
*.suo
*.pdb
*.ilk
*.bsc
*.psess
*.vspx
.idea/
*.bsc
langums/langums.VC.VC.opendb
langums_d.exe
*.obj
*.idb
*.iobj
*.ipdb
langums/Release/
langums/Debug/
log.txt
langums/langums.VC.db
test_processed.scx
langums_log.txt
*.tmp
langums/.vs/
langums/langums.vcxproj.user
ldb_d.exe
ldb.exe
ldb/Release/
ldb/Debug/
.vscode/
